<?xml version="1.0" encoding="utf-8"?>
<configs>
	<logger>
		<LoggingToFile>1</LoggingToFile><description>0 - Disabled, but you must redirect streams, 1 - Enable</description>
		<LoggingFileDir>myServerLogs.log</LoggingFileDir><description>Log file will be created if it does not  exist, writing is in append mode</description>
		<Formatter>[%Y/%m/%d %H:%M:%S]::</Formatter><description>To see how to set formatter visit http://www.cplusplus.com/reference/clibrary/ctime/strftime/</description>
		<SizeOfFormatter>22</SizeOfFormatter><description>Size of Formatter buffer</description>
	</logger>
	<server>
		<StdIn>0</StdIn><description>0 - Redirect to /dev/null</description>
		<StdErr>1</StdErr><description>0 - Redirect to dev/null, 1 - redirect to LoggingFileDir(default), 2 - redirect to tty</description>
		<StdOut>1</StdOut><description>0 - Redirect to dev/null(default), 1 - redirect to LoggingFileDir(debug), 2 - redirect to tty</description>
		<Demonize>0</Demonize><description>0 - Disable 1 - Enable(default)</description>
		<MultiThreading>2</MultiThreading><description>0 - Iterative, 1 - MultiThreading(defualt)</description>
	</server>
	<sqlconn>
		<Address>localhost</Address>
		<User>root</User>
		<Password>qwerty71</Password>
		<dBaseName>SharedBase</dBaseName>
	</sqlconn>
	<connection>
		<Address>127.0.0.1</Address><description>Not implemented</description>
		<Port>6666</Port><description>On this port Server will be listening for clients</description>
		<ClientTimeOut>60</ClientTimeOut><description>After this inactivity in seconds, server is going to disconnect client</description>
		<ChunkSize>1024</ChunkSize><description>KiloBites * Numer You input</description>
	</connection>
	<SharedFiles>
		<File0>
			<FilePath>siezka/do/pliku</FilePath>
			<FileName>pliku</FileName>
			<FileSize>11</FileSize>
		</File0>
		<File1>
			<FilePath>siezka/do/2pliku</FilePath>
			<FileName>2pliku</FileName>
			<FileSize>22</FileSize>
		</File1>
	</SharedFiles>
</configs>

